// Prtimary colors 
$dcyan : hsl(185, 75%, 39%);
$vddb : hsl(229, 23%, 23%);
$dgblue : hsl(227, 10%, 46%);

// neutural 

$dg : hsl(0, 0%, 59%);

$fsize :18px;

// font familt 

$f-family : '[Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)';
$f-weight-1 : 400;
$f-weight-2 : 700;