@import "variables";


@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    background:$dcyan;
    .top {
        display: flex;
        flex-direction:column;
        img {
            position: fixed;
            width: 50%;
            height: 700px;
            margin: 0 2rem;
            &:first-child {
                top: -300px;
                left: -100px;
            }

            &:last-child {
                top: 300px;
                right: -100px;
            }

        }
    }
    .center {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: 100px;
        .profile {
            width: 30%;
            margin-bottom: 0;
            background-color: #fff;
            border-radius: 10px;
            padding-bottom: 2rem;
            img {
                width:100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .circle-img {
                width: 100px;
                height: 100px;
                border-radius:50%;
                border:3px solid #fff;
                margin: 0 auto;
                position: relative;
                bottom: 50px;
                background-image: url('../images/image-victor.jpg');
            }
            .c-center {
                line-height: 2;
                text-align: center;
                position: relative;
                bottom: 20px;
            }
            .c-bottom {
                text-align: center;
                display: flex;
                justify-content: space-around;
                border-top: 1px solid $dg;;
                padding-top: 1rem;
                div {
                    line-height: 1.5;
                }
                 div p {
                     color:$vddb;
                     font-weight: 600;
                 }
            }
        }
        }
}

@media screen and (max-width:991px) {
    body {
        .top {
            img {
                transition: .3s;
                margin: 0;
                width: 80% !important;

                &:first-child {
                    top: -400px;
                    left: -300px;
                }
                &:last-child {
                    top: 300px;
                    right: -200px;
                }
            }
        }
        .center {
            .profile {
                transition:.3s;
                width: 40%;
            }
        }
    }
}
// ========================================
@media screen and (max-width:767px) {
    body {
        .top {
            img {
                transition: .3s;
                margin: 0;
                width: 80% !important;
                &:first-child {
                    top: -300px;
                    left: -200px;
                }
                &:last-child {
                    top: 300px;
                    right: -100px;
                }
            }
        }
        .center {
            .profile {
                width: 50%;
            }
        }
    }
}
// =====================================
@media screen and (max-width:585px) {
    body {
        .top {
            img {
                transition: .3s;
                margin: 0;
                width: 100% !important;
                &:first-child {
                    top: -300px;
                    left: -200px;
                }
                &:last-child {
                    top: 200px;
                    right: -200px;
                }
            }
        }

        .center {
            .profile {
                width: 70%;
            }
        }
    }
}